# Ignore Terraform files for project 1
1.simple_web_server/.terraform/

# Ignore Terraform files for project 2
2.scalable_website/.terraform/

# Ignore Terraform files for project 3
3.two_tier_with_rds/.terraform/

# Ignore Terraform files for project 4
4.grav_cms_with_admin/.terraform/
